.page-home {
    h5{
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        margin-bottom: 15px;
    }
    .store-trend-categories {
        margin-top: 30px;
    }
    .store-new-product {
        margin: 10px;
    }
}